PORT=8080
APP_ENV=local
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=stellarvote
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

# Third party ENV variables

# Required for OAuth2 plugin
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Required depending on the plugin being used and their providers
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/stellarvote
REDIS_URL=
KAFKA_BROKERS=
NATS_URL=
RABBITMQ_URL=

# Optional - Required only if using event bus consumers e.g. Redis/Kafka
EVENT_BUS_CONSUMER_GROUP=

# Authula ENV variables

# Path to your configuration file (e.g., ./config.toml) (optional as it defaults to looking for config.toml in the current working directory)
AUTHULA_CONFIG_PATH=
# The base URL of your API (e.g., http://localhost:8080) (optional as it can be set in config.toml)
AUTHULA_BASE_URL=http://localhost:8080
# Used for encryption. Generate using `openssl rand -hex 32` (required if not set in config.toml)
AUTHULA_SECRET=
# sqlite: "auth.db"
# postgresql: "postgresql://username:password@localhost:5432/authula?sslmode=disable"
# mysql: "username:password@tcp(localhost:3306)/authula"
# (required if not set in config.toml)
AUTHULA_DATABASE_URL=

GO_ENV=development

# Goose migration config
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://postgres:postgres@localhost:5432/stellarvote
GOOSE_MIGRATION_DIR=migrations
